.calendar__screen {
	display: flex;
	flex-flow: column;
	height: 100vh;
}

.rbc-calendar {
	height: 100%;
}

/* Modal */
.ReactModalPortal > div{
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	align-items: center;
	display: flex;
	justify-content: center;
	transition: opacity .4s ease-in-out;
	z-index: 999;
}

.modal-fondo {
	background-color: $medium-grey;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
}

.ReactModal__Overlay {
	z-index: 100;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal {
	background: white;
	border-radius: 5px;
	color: darken($color: $modal-color, $amount: 10);
	display: inline;
	max-height: 620px;
	max-width: 500px;
	outline: none;
	padding: 10px;
}