.calendar__screen {
	display: flex;
	flex-flow: column;
	height: 100vh;
}

.rbc-calendar {
	height: 100%;
}

.rbc-today {
	background-color: #b2bbd7;
}

/* Modal */
.ReactModalPortal > div {
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	align-items: center;
	display: flex;
	justify-content: center;
	transition: opacity 0.4s ease-in-out;
	z-index: 999;
}

.ReactModal__Overlay {
	z-index: 100;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

.react-datetime-picker__clock {
   display: none;
}