.modal {
	background: $white;
	border-radius: 5px;
	color: $black;
	display: inline;
	max-height: 720px;
	max-width: 550px;
	outline: none;
	padding: 10px;
	border: 3px solid $black;
	border-color: $l-purple;
}

.modal-fondo {
	background-color: $medium-grey;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
}

.__modal-main {
	background-image: linear-gradient(
		to left bottom,
		#e0f5ff,
		#e5f4fe,
		#eaf2fb,
		#eef2f8,
		#f0f1f5,
		#f2f2f5,
		#f3f3f4,
		#f4f4f4,
		#f7f7f7,
		#f9f9f9,
		#fcfcfc,
		#ffffff
	);
}

.__modal-h1 {
	text-align: center;
	-webkit-text-stroke: 1px $blue;
	color: transparent;
}

.__modal-shadow {
	box-shadow: 0 2.5px 2.2px rgba(0, 0, 0, 0.025),
		0 6.4px 5.3px rgba(0, 0, 0, 0.036), 0 12.6px 10px rgba(0, 0, 0, 0.045),
		0 22.7px 17.9px rgba(0, 0, 0, 0.054),
		0 41.2px 33.4px rgba(0, 0, 0, 0.065), 0 83px 80px rgba(0, 0, 0, 0.09);
}
textarea.form-control {
	width: 95%;
	margin-left: 15px;
	resize: none;
}

input.form-control {
	width: 95%;
}

.react-datetime-picker input:focus {
	outline: none;
}

.react-datetime-picker__wrapper {
	border: 0px solid $dark-grey !important;
	max-height: 35px;
}

.react-datetime-picker__inputGroup {
	align-self: center;
}

.react-datetime-picker__button {
	align-self: center;
}

.react-datetime-picker__calendar .react-calendar {
	font-size: smaller;
}

.__ui-fab {
	border-radius: 40% 60% 69% 31% / 30% 51% 49% 70%;
	bottom: 25px;
	font-size: 25px;
	padding: 20px;
	position: fixed;
	right: 25px;
	color: $black;
	border: 3px solid $d-purple;
	background-color: $white;

	&:hover {
		color: $red;
		background-color: $white;
		border-color: $modal-color;
	}
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
	color: $black;
	border: 3px solid $d-purple;
	background-color: $white;
	box-shadow: none;
}

.__ui-fab-delete {
	bottom: 25px;
	padding: 10px;
	position: fixed;
	left: 25px;
	background-color: $d-purple;
	border-color: $black;
}

.rbc-event div {
	color: $white;
}

.rbc-agenda-table tr {
	color: $dark-grey;
}

.rbc-agenda-table td {
	color: $white;
}

.rbc-day-bg + .rbc-day-bg {
	border-left: 1px solid $purple;
}

.rbc-month-row + .rbc-month-row {
	border-top: 1px solid $purple;
}

.rbc-off-range-bg {
	background: lighten($color: $grey-light, $amount: 5);
}

.rbc-event {
	padding: 5px 5px;
	border: 2px solid $d-purple;
}

.rbc-toolbar {
	margin: 5px 20px 5px 20px;
}

.navbar-dark .navbar-brand {
	padding-left: 25px;
	font-weight: bold;
	font-size: 20px;
	color: $d-purple;
}
