* {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	margin: 0px;
}

.mt-0 {
	margin: 20px;
}

.mt-1 {
	margin-top: 5px;
}

.mt-5 {
	margin-top: 20px;
}

.mb-1 {
	margin-bottom: 5px;
}

.mb-5 {
	margin-bottom: 20px;
}
