// Colors

$primary-form: #f2d8ac;
$primary-btn: #489b7a;
$secondary-form: #e08055;
$dark-grey: #393b4a;
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$blue: #3c97bf;
$medium-grey: rgba(0, 0, 0, 0.6);
$modal-color: #e08055;
$d-purple: #917986;
$purple: #241b45;
$grey-light: #dddee6;
$l-purple: #bbcbfc;

// Shadows

$main-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 120px 0 rgba(0, 0, 0, 0.19);
